<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laboratory</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to laboratory register</h1>
    <h2>Choose work station</h2>
    <div class="row">
        <a href="/allenNetwork">Allen Network</a><br>
    </div>
    <br/>
    <div class="row">
        <a href="/allenNeumatic">Allen Neumatic</a><br>
    </div>
    <br/>
    <div class="row">
        <a href="/siemmens">Siemens</a><br>
    </div>
    <br/>
    <div class="row">
        <a id="logout" href="/logout">log out</a><br>
    </div>
</div>
</body>
<!--this is for emerging alerts-->
<script>
        ( ( JavascriptExecutor ) _driver )
            .executeScript( "window.onbeforeunload = function(e){};" );



</script>
</html>