<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Success</title>
</head>
<link rel="stylesheet" th:href="@{/css/styles.css}">
<body>
<div class="container" th:object="${studentRecord}">
    <h2>Registration Succeeded!</h2>
    <div class="row">
        <div class="col-25 ">
            Name of the person in charge:
        </div>
        <div class="col-75 reg-suc" th:text="${studentRecord.name}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            E-mail:
        </div>
        <div class="col-75 reg-suc" th:text="${studentRecord.email}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            Id student:
        </div>
        <div class="col-75 reg-suc" th:text="${studentRecord.idStudent}">
        </div>
    </div>
    <div th:if="${not studentRecord.member1.isEmpty()}">
        <div class="row">
            <div class="col-25">
                Members:
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member1.isEmpty()}"
                 th:text="${studentRecord.member1}">
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member2.isEmpty()}"
                 th:text="${studentRecord.member2}">
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member3.isEmpty()}"
                 th:text="${studentRecord.member3}">
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member4.isEmpty()}"
                 th:text="${studentRecord.member4}">
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member5.isEmpty()}"
                 th:text="${studentRecord.member5}">
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member6.isEmpty()}"
                 th:text="${studentRecord.member6}">
            </div>
        </div>
        <div class="row">
            <div class="col-75 reg-suc link-suc" th:if="${not studentRecord.member7.isEmpty()}"
                 th:text="${studentRecord.member7}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            Workstation:
        </div>
        <div class="col-75 reg-suc" th:text="${studentRecord.workStation}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            Other material required:
        </div>
        <div class="col-75 reg-suc" th:if="${not studentRecord.material.isEmpty()}" th:text="${studentRecord.material}">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            Register time:
        </div>
        <div class="col-75 reg-suc" th:text="${studentRecord.creation_time}">
        </div>
    </div>
    <div class="row">
        <div class="col-75 link-suc">
            <a th:href="@{'/export/pdf/' + ${studentRecord.studentRecordId}}">Export PDF</a>
        </div>
    </div>
    <div class="row">
        <div class="col-75 link-suc">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-75 link-suc">
            <a href="/logout" id="logout">log out</a>
        </div>
    </div>
</div>

<script>
//this helps to reload the allenNetwork, allenNeumatic, and siemmens.
     sessionStorage.setItem("Page2Visited", "True");
     window.onbeforeunload = function() { return "This action can modify this request"; };

//this is for emerging alerts

     ( ( JavascriptExecutor ) _driver )
        .executeScript( "window.onbeforeunload = function(e){};" );

</script>
</body>
</html>