<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>siemmens</title>
</head>
<body>
<div align="center">
    <table id="hours_table" border="1" cellpadding="10">
        <thead>
        <tr>
            <th>monday</th>
            <th>tuesday</th>
            <th>wednesday</th>
            <th>thursday</th>
            <th>friday</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script th:inline="javascript">
    var hours= [[${listHours}]];
</script>
<!--path relative to static folder-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>